body {
    background-color: #083B4C;
}

.bg-normal {
    background-color: #1389B2;
}

.bg-fizzbuzz {
    background-color: #F0466F;

}

.bg-buzz {
    background-color: #FFD166;
}

.bg-fizz {
    background-color: #0BD6A1;
}

.square {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}